[submodule "components/clm/src/external_models/fates"]
	path = components/clm/src/external_models/fates
	url = git@ssh.github.com:NGEET/fates.git
[submodule "alm-mpp"]
	path = components/clm/src/external_models/mpp
	url = git@ssh.github.com:MPP-LSM/MPP.git
	branch = alm/develop
[submodule "sbetr"]
	path = components/clm/src/external_models/sbetr
	url = git@ssh.github.com:BeTR-biogeochemistry-modeling/sbetr.git
[submodule "components/mpas-source"]
	path = components/mpas-source
	url = git@ssh.github.com:MPAS-Dev/MPAS-Model.git
[submodule "externals/kokkos"]
	path = externals/kokkos
	url = git@ssh.github.com:kokkos/kokkos.git
	branch = develop
[submodule "components/cam/src/physics/rrtmgp/external"]
	path = components/cam/src/physics/rrtmgp/external
	url = git@ssh.github.com:RobertPincus/rte-rrtmgp.git
	branch = develop
[submodule "externals/scorpio"]
	path = externals/scorpio
	url = git@ssh.github.com:E3SM-Project/scorpio.git
	branch = master
[submodule "externals/scorpio_classic"]
	path = externals/scorpio_classic
	url = git@ssh.github.com:E3SM-Project/scorpio.git
	branch = scorpio_classic
